/* 内容区 */

.bacra-content {
    box-sizing: border-box;
    position: relative;
    overflow-y: auto;
}


/* 根据header和navbar自动适应内容区高度 */

.bacra-header~.bacra-content {
    padding-top: 2.3rem;
}

.bacra-navbar~.bacra-content {
    padding-bottom: 2.5rem;
}